.text{
/*	background-color: #5e6973;*/
  background-color: #CE0600;
}


 .customers {
   border-collapse: collapse;
   width: 100%;
 }
 .customers td, .customers th {
   order: 1px solid #ddd;  /*ddd*/
   padding: 8px;    
 }
 .customers tr:nth-child(even){background-color: #fff;}
 .customers tr:hover {background-color: #ddd;} /*ddd*/
 .customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;   
  background-color: #fff;  /*3366CC*/
  color: #000;
  width: 200px;
}


 .customers_null {
   border-collapse: collapse;
   width: 100%;
 }
 .customers_null td, .customers_null th {
   order: 1px solid #fff;  /*ddd*/
   padding: 8px;    
 }
 .customers_null tr:nth-child(even){background-color: #fff;}
 .customers_null tr:hover {background-color: #fff;} /*ddd*/
 .customers_null th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;   
  background-color: #fff;  /*3366CC*/
  color: #000;
  width: 200px;
}


.td.l{
 text-align: left; ;    
}
.td.c{
 text-align: center ;    
}
.td.r{
 text-align: right;    
}



@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  src: url("../font/NotoSansThaiUI-Regular.woff2") format("woff2"), url("../font/NotoSansThaiUI-Regular.woff") format("woff");
}
html {
  font-size: 16px;
}
body,
textarea {
 font-family: "Noto Sans Thai", 'Arimo', ystem-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #212121;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10UxCF8jA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10dxCF8jA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10VxCF8jA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10axCF8jA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* hebrew */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10bxCF8jA.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10WxCF8jA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10XxCF8jA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'), url(../font/P5sMzZCDf9_T_10ZxCE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

