@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  src: url("https://storage5-cdn.pakin.me/fonts/NotoSansThai/NotoSansThaiUI-Regular.woff2") format("woff2"), url("https://storage5-cdn.pakin.me/fonts/NotoSansThai/NotoSansThaiUI-Regular.woff") format("woff");
}


html {
  font-size: 16px;
}

body,
textarea {
  font-family: "Noto Sans Thai",'Nunito' , system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif ;
  font-size: 1rem;
  color: #212121;
}